.navbarSelf {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 17vh;
    background-color: #0b0c10;
    // border-radius: 5px;
    padding: 20px;
    .title{
      margin: 0.9rem;
    }
  }
  
  .pokeTypes{
    width: 22rem;
    h3{
      margin: 0;
    }
  }
  
  .pokeWeekness{
    width: 22rem;
    h3{
      margin: 0;
    }
  }
  
  .list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      list-style: none;
      padding: 0;
      margin: 0%;
  }
  
  .searchBar{
    height: 3rem;
    width: 15rem;
    text-align: center;
    input{
      height: 5vh;
      width: 12vw;
      border-radius: 10px;
    }
  }